<jhi-page-ribbon></jhi-page-ribbon>
<!--
<div>
  <router-outlet name="navbar"></router-outlet>
</div>

<div class="container-fluid">
  <div class="card jh-card">
    <router-outlet></router-outlet>
  </div>

  <jhi-footer></jhi-footer>
</div>
-->
<nz-layout>
  <nz-sider nzCollapsible nzWidth="300px" *ngIf="account">
    <div style="width: 100%">
      <img  style="width: 180px; margin: -50px 45px;" src="../../../content/images/logo-position-one-expanded.svg" alt="Position One" />
    </div>
    <router-outlet name="navbar"></router-outlet>
  </nz-sider>
  <nz-layout>
    <nz-header  *ngIf="account">
      <span>{{pageTitle}}</span>
    </nz-header>
    <nz-content>
      <div [ngClass]="{'inner-content' : account}">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer  *ngIf="account">
      <jhi-footer></jhi-footer>
    </nz-footer>
  </nz-layout>
</nz-layout>