<jhi-page-ribbon></jhi-page-ribbon>
<!--
<div>
  <router-outlet name="navbar"></router-outlet>
</div>

<div class="container-fluid">
  <div class="card jh-card">
    <router-outlet></router-outlet>
  </div>

  <jhi-footer></jhi-footer>
</div>
-->
<nz-layout>
  <nz-sider nzCollapsible nzWidth="300px">
    <div>
      <img width="150" src="../../../content/images/logo-position-one.png" alt="Position One" />
    </div>
    <router-outlet name="navbar"></router-outlet>
  </nz-sider>
  <nz-layout>
    <nz-header></nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>Dashboard</nz-breadcrumb-item>
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>
      <jhi-footer></jhi-footer>
    </nz-footer>
  </nz-layout>
</nz-layout>