<div>
  <h2 id="page-heading" data-cy="ProductionLineHeading">
    <span jhiTranslate="jhipsterApp.productionLine.home.title"
      >Production Lines</span
    >

    <div class="d-flex justify-content-end">
      <button nz-button nzType="primary"
        class="btn btn-info me-2"
        (click)="loadAll()"
        [disabled]="isLoading"
      >
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterApp.productionLine.home.refreshListLabel"
          >Refresh List</span
        >
      </button>

      <button nz-button nzType="primary"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-production-line"
        [routerLink]="['/production-line/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterApp.productionLine.home.createLabel">
          Create a new Production Line
        </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div
    class="alert alert-warning"
    id="no-result"
    *ngIf="productionLines?.length === 0"
  >
    <span jhiTranslate="jhipsterApp.productionLine.home.notFound"
      >No productionLines found</span
    >
  </div>

  <nz-table #basicTable [nzData]="productionLines">
    <thead>
      <tr>
        <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
        <th scope="col">
          <span jhiTranslate="jhipsterApp.productionLine.description"
            >Description</span
          >
        </th>
        <th scope="col">
          <span jhiTranslate="jhipsterApp.productionLine.createdAt"
            >Created At</span
          >
        </th>
        <th scope="col">
          <span jhiTranslate="jhipsterApp.productionLine.updatedAt"
            >Updated At</span
          >
        </th>
        <th scope="col">
          <span>Actions</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let productionLine of productionLines; trackBy: trackId"
        data-cy="entityTable"
      >
      <tr
          *ngFor="let productionLine of productionLines; trackBy: trackId"
          data-cy="entityTable"
        >
          <td>
            <a [routerLink]="['/production-line', productionLine.id, 'view']">{{
              productionLine.id
            }}</a>
          </td>
          <td>{{ productionLine.description }}</td>
          <td>{{ productionLine.createdAt | formatMediumDatetime }}</td>
          <td>{{ productionLine.updatedAt | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button nz-button nzType="primary"
                type="submit"
                [routerLink]="['/production-line', productionLine.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.view"
                  >View</span
                >
              </button>

              <button nz-button nzType="primary"
                type="submit"
                [routerLink]="['/production-line', productionLine.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.edit"
                  >Edit</span
                >
              </button>

              <button nz-button nzType="primary"
                type="submit"
                (click)="delete(productionLine)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.delete"
                  >Delete</span
                >
              </button>
            </div>
          </td>
        </tr>
    </tbody>
  </nz-table>

  </div>

  <!--
  <div
    class="table-responsive"
    id="entities"
    *ngIf="productionLines && productionLines.length > 0"
  >
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col">
            <span jhiTranslate="jhipsterApp.productionLine.description"
              >Description</span
            >
          </th>
          <th scope="col">
            <span jhiTranslate="jhipsterApp.productionLine.createdAt"
              >Created At</span
            >
          </th>
          <th scope="col">
            <span jhiTranslate="jhipsterApp.productionLine.updatedAt"
              >Updated At</span
            >
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let productionLine of productionLines; trackBy: trackId"
          data-cy="entityTable"
        >
          <td>
            <a [routerLink]="['/production-line', productionLine.id, 'view']">{{
              productionLine.id
            }}</a>
          </td>
          <td>{{ productionLine.description }}</td>
          <td>{{ productionLine.createdAt | formatMediumDatetime }}</td>
          <td>{{ productionLine.updatedAt | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button nz-button nzType="primary"
                type="submit"
                [routerLink]="['/production-line', productionLine.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.view"
                  >View</span
                >
              </button>

              <button nz-button nzType="primary"
                type="submit"
                [routerLink]="['/production-line', productionLine.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.edit"
                  >Edit</span
                >
              </button>

              <button nz-button nzType="primary"
                type="submit"
                (click)="delete(productionLine)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.delete"
                  >Delete</span
                >
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
-->