/* Add application styles & imports to this file! */

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

nz-header {
    background: #fff;
    padding: 0;
}

nz-content {
    margin: 0 16px;
}

nz-breadcrumb {
    margin: 16px 0;
}

.inner-content {
    background: #fff;
    min-height: 860px;
}

.ant-tabs-content {
    padding: 26px;
}

nz-footer {
    text-align: center;
}

.ant-layout-sider-children {
    background: linear-gradient(180deg, #008651 0%, #003865 100%) !important;
}

.ant-menu-item {
    background: none !important;
}

.ant-layout-header {
    background: #ffffff !important;
    color: #000000 !important;
}

.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark,
.ant-menu.ant-menu-dark .ant-menu-sub {
    color: rgba(255, 255, 255, 0.65);
    background: none;
}

nz-content {
    margin: 30px 15px !important;
}

button > i {
    font-size: 16px !important;
}
