<ul nz-menu nzTheme="dark" nzMode="inline">
    <li nz-menu-item>
        <a routerLink="/dashboard" (click)="collapseNavbar()">
            <span nz-icon style="font-size: 16px" nzType="dashboard"></span>
            <span jhiTranslate="global.menu.dashboard">Dashboard</span>
        </a>
    </li>
    <li nz-menu-item>
        <img src="../../../content/images/thermometer-icon.svg" style="width: 16px; margin-right: 8px;" /> 
        <span>
            <a
                jhiTranslate="global.menu.entities.logTemperature"
                routerLink="/log-temperature"
                >Log Temperature</a
            >
        </span>
    </li>
    <li nz-menu-item>
        <img src="../../../content/images/eye-vision-icon.svg" style="width: 16px; margin-right: 8px;" /> 
        <span>
            <a
                jhiTranslate="global.menu.entities.logVision"
                routerLink="/log-vision"
                >Log Vision</a
            >
        </span>
    </li>
    <li nz-submenu>
        <span title>
          <img src="../../../content/images/settings-icon.svg" style="width: 16px; margin-right: 4px;" /> 
          <span jhiTranslate="global.menu.account.settings">Settings</span>
        </span>
        <ul>
            <li nz-menu-item>
                <span
                    nz-icon
                    style="font-size: 16px"
                    nzType="deployment-unit"
                ></span>
                <span>
                    <a
                        jhiTranslate="global.menu.entities.productionLine"
                        routerLink="/production-line"
                        >Linhas</a
                    >
                </span>
            </li>
            <li nz-menu-item>
                <span nz-icon style="font-size: 16px" nzType="usb"></span>
                <span>
                    <a
                        jhiTranslate="global.menu.entities.device"
                        routerLink="/device"
                        >Sensores</a
                    >
                </span>
            </li>
            <li nz-menu-item>
                <span nz-icon style="font-size: 16px" nzType="mail"></span>
                <span>
                    <a
                        jhiTranslate="global.menu.entities.notificationGroup"
                        routerLink="/notification-group"
                        >Grupos</a
                    >
                </span>
            </li>
            
        </ul>
    </li>
    <li nz-submenu>
        <span title>
            <img src="../../../content/images/report-icon.svg" style="width: 22px; margin-left: -4px; margin-right: 4px;" /> 
            <span>Relatórios</span>
        </span>
        <ul>
            <li nz-menu-item>Medição de Temperatura</li>
            <li nz-menu-item>Leituras de Visão</li>
        </ul>
    </li>
    <li nz-menu-item>
        <img src="../../../content/images/logout-icon.svg" style="width: 16px; margin-right: 8px;" /> 
        <span><a
          jhiTranslate="global.menu.account.logout"
          (click)="logout()"
          >Logout</a
      ></span>
    </li>
</ul>
