<div>
  <h2 id="page-heading" data-cy="DeviceHeading">
    <span jhiTranslate="jhipsterApp.device.home.title">Devices 2</span>

    <div class="d-flex justify-content-end">
      <button nz-button nzType="primary"
        class="btn btn-info me-2"
        (click)="loadAll()"
        [disabled]="isLoading"
      >
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterApp.device.home.refreshListLabel"
          >Refresh List</span
        >
      </button>

      <button nz-button nzType="primary"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-device"
        [routerLink]="['/device/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterApp.device.home.createLabel">
          Create a new Device 2
        </span>
      </button>

      <button nz-button nzType="primary" nz-button nzType="primary">Primary</button>

    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="devices?.length === 0">
    <span jhiTranslate="jhipsterApp.device.home.notFound"
      >No devices found</span
    >
  </div>

  
  <nz-table #basicTable [nzData]="devices">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col">
            <span jhiTranslate="jhipsterApp.device.description"
              >Description</span
            >
          </th>
          <th scope="col">
            <span jhiTranslate="jhipsterApp.device.sensorType"
              >Sensor Type</span
            >
          </th>
          <th scope="col">
            <span jhiTranslate="jhipsterApp.device.macAddress"
              >Mac Address</span
            >
          </th>
          <th scope="col">
            <span jhiTranslate="jhipsterApp.device.status">Status</span>
          </th>
          <th scope="col">
            <span jhiTranslate="jhipsterApp.device.productionLine"
              >Production Line</span
            >
          </th>
          <th scope="col">
            <span jhiTranslate="jhipsterApp.device.notificationGroup"
              >Notification Group</span
            >
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let device of devices; trackBy: trackId"
          data-cy="entityTable"
        >
          <td>
            <a [routerLink]="['/device', device.id, 'view']">{{ device.id }}</a>
          </td>
          <td>{{ device.description }}</td>
          <td
            jhiTranslate="{{ 'jhipsterApp.SensorType.' + device.sensorType }}"
          >
            {{ device.sensorType }}
          </td>
          <td>{{ device.macAddress }}</td>
          <td>{{ device.status }}</td>
          <td>
            <div *ngIf="device.productionLine">
              <a
                [routerLink]="[
                  '/production-line',
                  device.productionLine?.id,
                  'view'
                ]"
                >{{ device.productionLine?.id }}</a
              >
            </div>
          </td>
          <td>
            <div *ngIf="device.notificationGroup">
              <a
                [routerLink]="[
                  '/notification-group',
                  device.notificationGroup?.id,
                  'view'
                ]"
                >{{ device.notificationGroup?.id }}</a
              >
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button nz-button nzType="primary"
                type="submit"
                [routerLink]="['/device', device.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.view"
                  >View</span
                >
              </button>

              <button nz-button nzType="primary"
                type="submit"
                [routerLink]="['/device', device.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.edit"
                  >Edit</span
                >
              </button>

              <button nz-button nzType="primary"
                type="submit"
                (click)="delete(device)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.delete"
                  >Delete</span
                >
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
</div>
