<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="notification">
      <h2 data-cy="notificationDetailsHeading">
        <span jhiTranslate="jhipsterApp.notification.detail.title"
          >Notification</span
        >
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ notification.id }}</span>
        </dd>
        <dt>
          <span jhiTranslate="jhipsterApp.notification.message">Message</span>
        </dt>
        <dd>
          <span>{{ notification.message }}</span>
        </dd>
        <dt>
          <span jhiTranslate="jhipsterApp.notification.statusReady"
            >Status Ready</span
          >
        </dt>
        <dd>
          <span>{{ notification.statusReady }}</span>
        </dd>
        <dt>
          <span jhiTranslate="jhipsterApp.notification.statusSent"
            >Status Sent</span
          >
        </dt>
        <dd>
          <span>{{ notification.statusSent }}</span>
        </dd>
        <dt>
          <span jhiTranslate="jhipsterApp.notification.notificationGroup"
            >Notification Group</span
          >
        </dt>
        <dd>
          <div *ngIf="notification.notificationGroup">
            <a
              [routerLink]="[
                '/notification-group',
                notification.notificationGroup?.id,
                'view'
              ]"
              >{{ notification.notificationGroup?.id }}</a
            >
          </div>
        </dd>
      </dl>

      <button nz-button nzType="primary"
        type="submit"
        (click)="previousState()"
        class="btn btn-info"
        data-cy="entityDetailsBackButton"
      >
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span
          jhiTranslate="entity.action.back"
          >Back</span
        >
      </button>

      <button nz-button nzType="primary"
        type="button"
        [routerLink]="['/notification', notification.id, 'edit']"
        class="btn btn-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span
          jhiTranslate="entity.action.edit"
          >Edit</span
        >
      </button>
    </div>
  </div>
</div>
