<div>
  <h2 id="page-heading" data-cy="NotificationGroupHeading">
    <span jhiTranslate="jhipsterApp.notificationGroup.home.title"
      >Notification Groups</span
    >

    <div class="d-flex justify-content-end">
      <button nz-button nzType="primary"
        class="btn btn-info me-2"
        (click)="loadAll()"
        [disabled]="isLoading"
      >
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterApp.notificationGroup.home.refreshListLabel"
          >Refresh List</span
        >
      </button>

      <button nz-button nzType="primary"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-notification-group"
        [routerLink]="['/notification-group/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterApp.notificationGroup.home.createLabel">
          Create a new Notification Group
        </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div
    class="alert alert-warning"
    id="no-result"
    *ngIf="notificationGroups?.length === 0"
  >
    <span jhiTranslate="jhipsterApp.notificationGroup.home.notFound"
      >No notificationGroups found</span
    >
  </div>

  <div
    class="table-responsive"
    id="entities"
    *ngIf="notificationGroups && notificationGroups.length > 0"
  >
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col">
            <span jhiTranslate="jhipsterApp.notificationGroup.description"
              >Description</span
            >
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let notificationGroup of notificationGroups; trackBy: trackId"
          data-cy="entityTable"
        >
          <td>
            <a
              [routerLink]="[
                '/notification-group',
                notificationGroup.id,
                'view'
              ]"
              >{{ notificationGroup.id }}</a
            >
          </td>
          <td>{{ notificationGroup.description }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button nz-button nzType="primary"
                type="submit"
                [routerLink]="[
                  '/notification-group',
                  notificationGroup.id,
                  'view'
                ]"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.view"
                  >View</span
                >
              </button>

              <button nz-button nzType="primary"
                type="submit"
                [routerLink]="[
                  '/notification-group',
                  notificationGroup.id,
                  'edit'
                ]"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.edit"
                  >Edit</span
                >
              </button>

              <button nz-button nzType="primary"
                type="submit"
                (click)="delete(notificationGroup)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.delete"
                  >Delete</span
                >
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
