<div>
    <h2 id="page-heading" data-cy="LogTemperatureHeading">
      <span jhiTranslate="jhipsterApp.logTemperature.home.title"
        >Log Temperatures</span
      >
  
      <div class="d-flex justify-content-end">
        <button nz-button nzType="primary"
          class="btn btn-info me-2"
          (click)="loadAll()"
          [disabled]="isLoading"
        >
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span jhiTranslate="jhipsterApp.logTemperature.home.refreshListLabel"
            >Refresh List</span
          >
        </button>
  
        <button nz-button nzType="primary"
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-log-temperature"
          [routerLink]="['/log-temperature/new']"
        >
          <fa-icon icon="plus"></fa-icon>
          <span jhiTranslate="jhipsterApp.logTemperature.home.createLabel">
            Create a new Log Temperature
          </span>
        </button>
      </div>
    </h2>
  
    <jhi-alert-error></jhi-alert-error>
  
    <jhi-alert></jhi-alert>
  
    <div
      class="alert alert-warning"
      id="no-result"
      *ngIf="logTemperatures?.length === 0"
    >
      <span jhiTranslate="jhipsterApp.logTemperature.home.notFound"
        >No logTemperatures found</span
      >
    </div>
  
    <div
      class="table-responsive"
      id="entities"
      *ngIf="logTemperatures && logTemperatures.length > 0"
    >
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr>
            <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col">
              <span jhiTranslate="jhipsterApp.logTemperature.createdAt"
                >Created At</span
              >
            </th>
            <th scope="col">
              <span jhiTranslate="jhipsterApp.logTemperature.temperature"
                >Temperature</span
              >
            </th>
            <th scope="col">
              <span jhiTranslate="jhipsterApp.logTemperature.status">Status</span>
            </th>
            <th scope="col">
              <span jhiTranslate="jhipsterApp.logTemperature.device">Device</span>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let logTemperature of logTemperatures; trackBy: trackId"
            data-cy="entityTable"
          >
            <td>
              <a [routerLink]="['/log-temperature', logTemperature.id, 'view']">{{
                logTemperature.id
              }}</a>
            </td>
            <td>{{ logTemperature.createdAt | formatMediumDatetime }}</td>
            <td>{{ logTemperature.temperature }}</td>
            <td
              jhiTranslate="{{ 'jhipsterApp.Status.' + logTemperature.status }}"
            >
              {{ logTemperature.status }}
            </td>
            <td>
              <div *ngIf="logTemperature.device">
                <a
                  [routerLink]="['/device', logTemperature.device?.id, 'view']"
                  >{{ logTemperature.device?.id }}</a
                >
              </div>
            </td>
            <td class="text-end">
              <div class="btn-group">
                <button nz-button nzType="primary"
                  type="submit"
                  [routerLink]="['/log-temperature', logTemperature.id, 'view']"
                  class="btn btn-info btn-sm"
                  data-cy="entityDetailsButton"
                >
                  <fa-icon icon="eye"></fa-icon>
                  <span
                    class="d-none d-md-inline"
                    jhiTranslate="entity.action.view"
                    >View</span
                  >
                </button>
  
                <button nz-button nzType="primary"
                  type="submit"
                  [routerLink]="['/log-temperature', logTemperature.id, 'edit']"
                  class="btn btn-primary btn-sm"
                  data-cy="entityEditButton"
                >
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span
                    class="d-none d-md-inline"
                    jhiTranslate="entity.action.edit"
                    >Edit</span
                  >
                </button>
  
                <button nz-button nzType="primary"
                  type="submit"
                  (click)="delete(logTemperature)"
                  class="btn btn-danger btn-sm"
                  data-cy="entityDeleteButton"
                >
                  <fa-icon icon="times"></fa-icon>
                  <span
                    class="d-none d-md-inline"
                    jhiTranslate="entity.action.delete"
                    >Delete</span
                  >
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  